*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 244, 244);
}

:root{
    --primary-color: #416b2e;
    --primary-text-color: #586654;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 40px;
    text-transform: uppercase;
    align-items: center;
}

.button{
    padding: 14px 30px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(74, 68, 68);
}

.container{
    padding-left: 150px;
    padding-right: 150px;
}

#active{
    background-color: antiquewhite;
    padding: 5px 15px;
}

.hero-container{
    display: flex;
    gap: 20px;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
}

.hero-title{
    font-size: 60px;
    font-weight: 400;
    color: #26381d;
}

.hero-desc{
    line-height: 1.5;
    color: var(--primary-text-color);
    font-size: 16px;
    padding: 30px 0px;
}

.right-container{
    display: flex;
    gap: 50px;
}

.hero-right-image{
    width: 55%;
}

.hero-right-info{
    width: 45%;
}

.info-card{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 10px;
}

.info-card-rating{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #586654;
    font-size: 14px;
    margin-top: 10px;
}

.hero-right-para{
    color: #586654;
    line-height: 1.3;
    margin-top: 10px;
}

.hero-main-container{
    /* background-color: red; */
    height: 90vh;
    display: flex;
    align-items: center;
}

.spin-image{
    margin-top: 210px;
}

.spin-img{
    animation: spin 7s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.about-container{
    background-color: #d5ddd3;
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-flex-container{
    display: flex;
    gap: 80px;
}

.about-left, .about-right{
    width: 50%;
}

.about-left-img{
    width: 100%;
}

.about-right-subheader{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1000px;
    display: flex;
    width: 20%;
    justify-content: center;
    gap: 10px;
    padding: 7px 0;
    color: var(--primary-text-color);
}

.left-img{
    animation: spin 7s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.about-right-heading{
    font-size: 40px;
    font-weight: 400;
    padding: 20px 0;
}

.about-right-desc{
    font-size: 15px;
    line-height: 1.5;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

.about-info-flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-info-card{
    border-left: 1px solid black;
    padding: 3px 20px;
}

.count{
    font-size: 35px;
}

.info-text{
    font-size: 15px;
    padding-top: 8px;
    color: var(--primary-text-color);
}

/* service css */

.service-container{
    padding-top: 120px;
    padding-bottom: 120px;
}

.service-subheader{
    width: 15%;
}

.service-header-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.service-header{
    font-size: 34px;
    font-weight: 400;
    width: 30%;
}

.service-button{
    align-self: flex-end;
}

.service-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 30px;
    gap: 20px;
}

.card{
    background-color: #919aa1;
    padding: 60px 20px 25px 20px;
    color: white;
}

.card h1{
    font-weight: 400;
}

.card img{
    width: 100%;
}

.circle img{
    width: 50px;
}

.circle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    scale: 0.9;
    transition: all 0.8s linear;
}

.image-container{
    position: relative;
    cursor: pointer;
}

.image-container:hover .circle{
    opacity: 1;
    scale: 1;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s linear;
}

.image-container:hover .overlay{
    opacity: 1;
}

.schedule-container{
    background-image: url(https://cdn.prod.website-files.com/665ac02a7adde9ec8d8acf86/665c108898305a1c15e4995c_CTA%20Image.png);
    padding-top: 200px;
    padding-bottom: 70px;
}

.schedule-box{
    background-color: white;
    padding: 40px;
    width: 40%;
    margin-left: 50px;
}

.schedule-box p{
    font-size: 37px;
    line-height: 1.4;
}

.schedule-box .button{
    margin-top: 30px;
}

.review-flex-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.review-left{
    width: 55%;
    background-color: #d5ddd3;
    padding-left: 120px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
}

.review-center{
    width: 35%;
}

.review-right{
    width: 10%;
}

.review-container{
    margin-top: 140px;
}

.review-left-flex-container{
    display: flex;
}

.review-left-flex-container .about-right-subheader{
    width: 50%;
}

.review-left-container h1{
    font-size: 40px;
    font-weight: 400;
    width: 80%;
    padding-top: 20px;
}

.arrow-container{
    display: flex;
    gap: 10px;
    margin-top: 130px;
}

.arrow-container div{
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-left-image{
    position: absolute;
    right: 40px;
    top: -30px;
}

.review-center{
    background-color: #26381d;
    padding: 40px;
}

.review-center > p{
    font-size: 22px;
    color: white;
    line-height: 1.5;
    padding-top: 40px;
}   

.review-info{
    margin-top: 70px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.disease{
    font-size: 15px;
    color: #919aa1;
}

.review-right{
    background-color: #d5ddd3;
    height: 430px;
}

.choose-spin-image{
    animation: spin 7s linear infinite;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.choose-spin-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-spin{
    margin-top: 120px;
}

.why-choose-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.why-choose-container h1{
    letter-spacing: 1.5px;
    font-size: 40px;
    font-weight: 500;
}

.choose-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.choose-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5ddd3;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 35px;
}

.choose-flex-container p{
    font-size: 20px;
}

.choose-box-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 15px;
}

.choose-box{
    background-color: white;
    padding: 10px 50px 10px 25px;
}

.choose-box p{
    font-size: 18px;
    color: #6e757a;
}

.threapist-spin-container{
    margin-top: 80px;
}

.therapist-flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.therapist-flex-container h1{
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1.1px;
}

.therapist-grid-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.therapist-card{
    background-color: white;
    padding: 30px;
}

.therapist-card > p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.social-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.icon-box{
    width: 30px;
    height: 30px;
    background-color: #919aa1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.therapist-card-image-container > img:hover{
    transform: scale(1.1);
}

.therapist-card-image-container > img{
    transition: all 0.3s linear;
    width: 100%;
}

.therapist-card-image-container{
    overflow: hidden;
}

.news{
    display: flex;
    gap: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    width: 90px;
    padding: 7px 10px;
    border-radius: 1000px;
    color: var(--primary-text-color);
}

.news-container{
    margin-top: 100px;
}

.news-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-top: 40px;
}

.news-card > p{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.news-info{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.news-first-info{
    background-color: #d5ddd3;
    padding: 10px;
} 

.news-card > img{
    transition: all 0.3s linear;
    width: 100%;
}

.news-card > img:hover{
    transform: scale(1.1);
}

.news-card{
    overflow: hidden;
}

.news-second-info{
    color: var(--primary-text-color);
}

.footer-container{
    background-color: #26381d;
    color: white;
    padding-top: 100px;
    margin-top: 100px;
}

.footer-grid-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

.first-column{
    grid-column: 1 / span 2;
}

.first-column > h1{
    font-size: 25px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}

.first-column > p{
    line-height: 1.5;
    margin-bottom: 35px;
}

.subscribe-container{
    display: flex;
    background-color: #586654;
    width: 80%;
}

.subscribe-container > input{
    padding: 13px 20px;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}

.subscribe-container > button{
    padding: 0px 20px;
    outline: none;
    border: none;
}

.links-column > h1{
    font-size: 20px;
    font-weight: 400;
}

.links-column > ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-column > h1{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.social-icon-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    cursor: pointer;
}

.social-icon-container > img:hover{
    transform: scale(1.1);
}

.social-icon-container > img{
    transition: all 0.3s liner;
}

.line{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 0.5px;
    background-color: white;
}

.footer-container > p{
    text-align: center;
    font-size: 17px;
    padding-bottom: 40px;
}

.hero-right-info > img{
    width: 100%;
}

.about-container > img{
    width: 100%;
}

.service-container > img{
    width: 100%;
}

.review-container > img{
    width: 100%;
}

.choose-spin > img{
    width: 100%;
}

/* .choose-container > img{
    width: 100%;
} */

.threapist-spin-container > img{
    width: 100%;
}

.news-container > img{
    width: 100%;
}

.menu-icon{
    display: none;
}

@media (max-width: 1024px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-main-container{
        height: 110vh;
    }

    .review-right{
        display: none;
    }

    .review-center{
        flex-basis: 40%;
        margin-right: 20px;
    }

    .review-left{
        padding-left: 20px;
    }

    .review-left-container h1{
        width: 40%;
        padding-bottom: 110px;
    }

    .arrow-container{
        display: none;
    }
}


@media (max-width: 768px) {
    .nav-list-container{
        display: none;
    }

    .nav-button{
        display: none;
    }

    .menu-icon{
        display: block;
    }

    .hero-container{
        flex-direction: column;
    }

    .hero-main-container{
        height: auto;
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
    }

    .right-container{
        flex-direction: column;
    }

    .hero-right-image{
        width: 100%;
    }

    .info-card-container{
        display: flex;
        gap: 30px;
    }

    .hero-right-info{
        width: 100%;
    }

    .spin-image{
        margin-top: 20px;
    }

    .hero-right-para{
        padding-bottom: 100px;
    }

    .hero-main-container{
        margin-top: 60px;
    }

    .about-flex-container{
        flex-direction: column;
    }

    .about-left{
        width: 100%;
    }

    .about-right{
        width: 100%;
    }

    .about-info-flex-container{
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 425px) {
    .info-card-container{
        flex-direction: column;
    }

    .about-right-subheader{
        width: 35%;
    }

    .about-info-card{
        width: 100%;
    }

    .schedule-box{
        background-color: transparent;
        margin-left: 0px;
        width: 100%;
    }

    .schedule-container{
        background: #d5ddd3;
        padding-top: 0;
        padding-bottom: 0;
    }

    .review-left-image{
        height: 680px;
    }

    .service-card-container{
        grid-template-columns: 1fr;
    }

    .therapist-grid-container{
        grid-template-columns: 1fr;
    }

    .news-grid-container{
        grid-template-columns: 1fr;
    }

    .footer-grid-container{
        grid-template-columns: 1fr;
    }

    .first-column{
        grid-column: 1 / span;
    }

    .hero-title{
        font-size: 43px;
    }

    .service-card-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 375px) {
    
}

@media (max-width: 320px) {
    
}